body {
  color: #FFFFFF;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  margin: 0;
}

section {
  border: 10px solid #D0D0D0;
  display: inline-block;
  overflow: auto;
  width: 100%;
}

article {
  box-sizing: border-box;
  float: left;
  height: 33.33vh;
  margin: 0 auto;
  min-height: 200px;
  width: 20%;
}

button {
  background-color: #60B880;
  border-radius: 0;
  border: 2px solid white;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  height: 5vh;
  margin-bottom: 2%;
  margin-right: 5%;
  margin-top: 3%;
  min-height: 22px;
  width: 30%;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  text-align: center;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.article1 {
  background-color: #60B880;
  padding: 20px;
  width: 40%;
}
.article1 p {
  font-family: serif;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: left;
}

.article2 {
  background-color: #F3A13A;
} 

.article3 {
  float: right;
  height: 100vh;
  width: 40%;
}

#picture {
  height: 100%;
  min-height: 600px;
  width: 100%;
}

.article3 .arrowRight,
.article3 .arrowLeft {
  bottom: 54%;
  display: inline-block;
  height: 40px;
  opacity: .25;
  position: relative;
  width: 40px;
  z-index: 1;

}
.article3 .dots {
  bottom: 102%;
  display: inline-block;
  height: 10px;
  left: 64%;
  margin-right: 5px;
  opacity: .5;
  position: relative;
  width: 10px;
  z-index: 1;
}

#circle-1 {
  opacity: 1;
}

.arrowRight {
  left: 77%;
}

.arrowLeft {
  left: 5%;
}

.article4 {
  background-color: #3F8BBF;
}

.article5 {
  background-color: #E16451;
}

.article6 {
  background-color: #60B880;
}

.article7 {
  background-color: #E8713B;
}

.article8 {
  background-color: #3F8BBF;
}

.article9 {
  background-color: #E8713B;
}

@media only screen and (max-width: 900px) {
  article {
    float: left;
    height: 200px;
    width: 25%;
  }

  h1 {
    margin-top: 0;
  }

  button {
    font-size: 14px;
    width: 93px;
  }

  .icon {
    height: 40px;
    margin-top: 65px;
    width: 40px;
  }

  .article1{
    width: 50%;
  }

  .article3 {
    height: 600px;
    width: 50%;
  }

  .article3 img {
    height: 100%;
    width: 100%;
  }

  .article3 .dots {
    left: 48%;
  }

  .arrowRight {
    left: 67%;
  }

  .article5 {
    background-color: #60B880;
  }

  .article6 {
    background-color: #E16451;
  }

  .article9 {
    background-color: #60B880;
    float: right;
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {

  section {
    border: none;
    min-width: 320px;
  }

  article {
    float: left;
    height: 200px;
    width: 50%;
  }

  h1 {
    margin-top: 0;
  }

  .icon {
    height: 40px;
    margin-top: 65px;
    width: 40px;
  }

  .article1{
    width: 100%;
  }

  .article3 {
    float: left;
    height: 500px;
    width: 100%;
  }

  .article3 .dots {
    left: 58%;
  }

  #picture {
    min-height: 0;
  }

  .arrowRight {
    left: 73%;
  }

  .arrowLeft {
    left: 2%;
  }

  .article4 {
    float: right;
  }

  .article5 {
    background-color: #60B880;
  }

  .article6 {
    background-color: #E16451;
    float: right;
  }

  .article8 {
    float: right;
  }

  .article9 {
    background-color: #60B880;
    width: 100%;
  }
}











